*.csproj.*
Assets/Plugins/
Sirenix.OdinInspector.ConpatibilityLayer.csproj
Sirenix.OdinInspector.ConpatibilityLayer.Editor.csproj
Library/
Temp/
.idea/
JetBrains
JetBrains.*
obj/
Recordings/
Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
Sirenix.OdinInspector.CompatibilityLayer.csproj
Assets/Plugins.meta
